<div class="col-sm-3 jsRecommendItem">
	<a class="no-underline jsRecommendVideo" href="#" data-uniqueid="{{uniqueid}}" data-playid="{{playid}}" data-title="{{programmetitle}}"
		data-episode="{{episodetitle}}">
		<img class="img-responsive--fill jsPlayVideoExternal margin-bottom" data-playid="{{playid}}" src="/img/alts/large/{{uniqueid}}.jpg" alt="...">

		 <div class="playcenter playcenter--s">
	    	<span class="fa fa-play-circle fa-3x"></span>
	    </div>

	</a>
	<h5 class="media-heading">{{programmetitle}}</h5>
	<span class="text-meta">{{episodetitle}}</span>
	<a class="jsAddToPlaylist byline addToPLaylist" href="#"><i>Lägg till</i> <em>+</em></a>

</div>