<div class="item{{#if startpoint}} active{{/if}}" data-program="{{uniqueid}}" data-index="{{@index}}" style="background:transparent url('/img/alts/large/{{uniqueid}}.jpg') center center no-repeat;background-size: cover;">

    <!--img class="jsPlayVideo" data-playid="{{playid}}" src="/img/alts/large/{{uniqueid}}.jpg" alt="..."-->

    <div class="playcenter jsPlayVideo" data-playid="{{playid}}">
    	<a class="fa fa-play-circle fa-5x"></a>
    </div>

    <!--div class="carousel-caption">
        <p> <a href="#"><i class="fa fa-arrow-right"></i> Allt från </a></p>
    </div-->

	<div class="svt234-Overlay svt234-VideoInfo" data-title="{{programmetitle}}" data-episode="{{episodetitle}}">
		<h4 class="title">{{programmetitle}} - {{episodetitle}}</h4>
		<a href="#" class="se-more">Allt från {{programmetitle}}</a>
	</div>

</div>