<div class="item{{#if startpoint}} active{{/if}}" data-program="{{uniqueid}}" data-index="{{@index}}">

    <img class="img-responsive--fill carousel-inner__videomax jsPlayVideo" data-playid="{{playid}}" src="/img/alts/large/{{uniqueid}}.jpg" alt="...">

    <div class="playcenter jsPlayVideo" data-playid="{{playid}}">
    	<a class="fa fa-play-circle fa-5x"></a>
    </div>

    <!--div class="carousel-caption">
        <p> <a href="#"><i class="fa fa-arrow-right"></i> Allt från {{programmetitle}}</a></p>
    </div-->

</div>